*{
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera{
    background-color: rgb(234, 223, 247);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contenedor{
    background-color: rgb(222, 243, 250);
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#pie{
    display: flex;
    justify-content: center;
    background-color: rgb(140, 171, 173);
    width: 100%;
}